extends layout

block content
  h1= title

  h2.text-lg.my-4 Message Details
  p #[strong Title]: #{ message.title }
  p #[strong Message]: #{ message.text }
  p #[strong Posted By]: #{ message.author.full_name }
  p #[strong Date]: #{ message.timestamp_formatted }

  p.mt-12 Do you really want to delete this message?
  form(method="POST")
    .form-group
      input#messageid.form-control(
        type="hidden",
        name="messageid",
        value=message._id
      )
    button(type="submit") Delete
