extends layout

block content
  h1= title
  p.my-2 Welcome to #{ title }! Check out the feed below for members' messages.
  if currentUser
    a.transition.linear.delay-50.text-lg(href="/send-message") + Send a Message
  if !currentUser
    p.mt-2.mb-6 #[em You're not logged in and will not be able to view authors or post dates.]

  ul.mt-6.flex.flex-col.gap-4
    each message in messages
      li.outline.outline-1.outline-emerald-500.rounded-lg
        .bg-emerald-500.p-4.rounded-t-lg.text-emerald-50
          p Title: #{ message.title }
        .p-4.bg-slate-50
          p Message: #{ message.text }
          .mt-4.text-sm
            if currentUser
              p Posted By: #{ message.author.full_name }
              p Date: #{ message.timestamp_formatted }
            else
              p Hidden Author
            if currentUser && currentUser.admin
              a.text-blue-500.transition.linear.delay-50(
                href=`/delete/${message.id}`
              ) Delete
    else
      p There are no messages for you to read.
